<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Bambank</a>
    <form class="d-flex" role="search">
	  <a class="btn btn-outline-success" href="/logout"> Logout </a>
    </form>
  </div>
</nav>
<div class="container align-items-center">
	<h1 class="text-center display-1 mb-4">Welcome to Bambank</h1>
    <h5>Hi, {{displayName}}!</h5>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      	<div class="card">
			<div class="card-header">
				Balance
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			</div>
		</div>
    </div>
    <div class="col order-5">
		<div class="card">
			<div class="card-header">
				Transfer
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			</div>
		</div>
    </div>
    <div class="col order-1">
		<div class="card">
			<div class="card-header">
				Transactions
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			</div>
		</div>
    </div>
  </div>
</div>