<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Bambank</a>
    <form class="d-flex" role="search">
	  <a class="btn btn-outline-success" href="/logout"> Logout </a>
    </form>
  </div>
</nav>
<div class="container align-items-center">
	<h1 class="text-center display-1 mb-4">Welcome to Bambank</h1>
    <h5>Hurray! you are logged in 🥳.</h5>
</div>