<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<p class="my-0 mr-md-auto font-weight-normal h5">Bambank</p>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="btn btn-outline-primary" href="/signup"> Sign Up </a>
	</nav>
</div>
<div class="container d-flex align-items-center min-vh-100">
	<h1 class="text-center display-1 mb-4">Welcome to Bambank</h1>
	<form class="align-self-center" id="signin" name="signin" method="post" action="signin">
		<h2>Please sign in</h2>
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" name="email">
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Sign In</button>
	</form>
</div>