<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<p class="my-0 mr-md-auto font-weight-normal h5">Bambank</p>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="btn btn-outline-primary" href="/signin"> Login </a>
	</nav>
</div>
<div class="container d-flex align-items-center min-vh-100">
	<form class="align-self-center" id="signup" name="signup" method="post" action="/signup">
		<h1>Sign up</h1>
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" name="email">
		</div>
        <div class="form-group">
			<label for="firstnamef">First Name</label>
			<input type="text" class="form-control" name="firstnamef">
		</div>
        <div class="form-group">
			<label for="lastname">Last Name</label>
			<input type="text" class="form-control" name="lastname">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>
</div>